target/
bin/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
out/
*.zip
SOEN341_ProjectB_Sprint1_TEAM C3
SOEN341_ProjectB_Sprint2_TEAM C3
*.txt
*.iml
*.exe

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/